.* {
  margin: 0
  padding: 0
}

.dataTestOne {
  background-color: lightblue;
  width: 500px;
  height: 200px;
}

.dataTestTwo {
  background-color: lightpink;
  width: 500px;
  height: 200px;
}

.dataTestThree {
  background-color: lightgrey;
  width: 500px;
  height: 200px;
}

.testDiv {
  background-image: url(../images/american-flag.jpg);
  background-color: aqua;
  background-size: cover;
  background-position: center;
  width: 220px;
  height: 130px;
}

.spanClass {
  background-color: #222;
  color: white;
}
