.dataTestOne {
  background-color: lightblue;
  width: 500px;
  height: 150px;
}

.dataTestTwo {
  background-color: lightpink;
  width: 500px;
  height: 150px;
}

.dataTestThree {
  background-color: lightgrey;
  width: 500px;
  height: 150px;
}

.testDiv {
  background-color: aqua;
  width: 250px;
  height: 80px;
  margin: 10, 0, 10, 0;
  padding: 10, 0, 10, 0;
}
